@model FastFood.Models.NhanVien

@{
    ViewData["Title"] = "Chi tiết nhân viên";
}

<h1>👨‍💼 Chi tiết nhân viên</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Họ tên</dt>
    <dd class="col-sm-10">@Model.HoTen</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Số điện thoại</dt>
    <dd class="col-sm-10">@Model.Sdt</dd>

    <dt class="col-sm-2">Vai trò</dt>
    <dd class="col-sm-10">@Model.VaiTro</dd>

    <dt class="col-sm-2">Mật khẩu</dt>
    <dd class="col-sm-10">
        <div class="input-group w-50">
            <input type="password" id="passwordInput-@Model.MaNv" value="@Model.MatKhau" class="form-control" readonly />
            <button type="button" class="btn btn-outline-secondary togglePasswordBtn" data-target="passwordInput-@Model.MaNv">
                👁 Xem
            </button>
        </div>
    </dd>
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.MaNv" class="btn btn-warning">✏ Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">⬅ Quay lại</a>
</div>
