@model FastFood.Models.KhachHang

@{
    ViewData["Title"] = "Chi tiết khách hàng";
}

<h1>👤 Chi tiết khách hàng</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Họ tên</dt>
    <dd class="col-sm-10">@Model.HoTen</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Số điện thoại</dt>
    <dd class="col-sm-10">@Model.Sdt</dd>

    <dt class="col-sm-2">Mật khẩu</dt>
    <dd class="col-sm-10">
        <div class="input-group w-50">
            <input type="password" id="passwordInput-@Model.MaKh" value="@Model.MatKhau" class="form-control" readonly />
            <button type="button" class="btn btn-outline-secondary togglePasswordBtn" data-target="passwordInput-@Model.MaKh">
                👁 Xem
            </button>
        </div>
    </dd>

    <dt class="col-sm-2">Địa chỉ mặc định</dt>
    <dd class="col-sm-10">@Model.DiaChiMacDinh</dd>
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.MaKh" class="btn btn-warning">✏ Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">⬅ Quay lại</a>
</div>
